* {
    margin: 0;
    padding: 0;
}

body {
    background: #113831;
    border: 3px solid #fad118;
    color: #fad118;
}

header {
    background: #fad118;
    border: 3px solid #113831;
}

header, h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #113831;
}

.rules-header {
    font-size: 25px;
    color: #fad118;
    border-bottom: 2px solid #fad118;
}

.rules {
    color: #fad118;
}

table, tr, td {
    border: 1px solid #fad118;
    border-collapse: collapse;
}

table {
    border: 3px solid #fad118;
    width: 500px;
    height: 500px;
}


.top-left {
    background: lime;
}

.top-middle {
    background: greenyellow;
}

.top-right {
    background: green;
}

.middle-left {
    background: skyblue;
}

.middle-middle {
    background: teal;
}

.middle-right {
    background: blue;
}

.bottom-left {
    background: pink;
}

.bottom-middle {
    background: plum;
}

.bottom-right {
    background: purple;
}

.row-2, .row-5 {
    border-bottom: 3px solid #fad118;
}

.border {
    border-right: 3px solid #fad118;
}

